.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style  */
.bg-color {
    background-color: #f6fbff;
}

/* .text-contrast {
    color: #45b0fc;
} */

.text-color {
    color: #474747;
}

.text-color:hover {
    color: #45b0fc;
}

body {

    margin: 0 auto;
}

.btn-primary {
    background-color: #45b0fc;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 8px;
    border: none;
}

.btn-primary:hover {
    background-color: #388ecc;
    cursor: pointer;
    transform: scale(1.05);
    /* box-shadow: 0px 0px 10px 0px #464646; */
}

.btn-cv {
    box-sizing: border-box;
    background-color: #ffffff;
    font-weight: bold;
    color: #45b0fc;
    padding: 18px 35px;
    border-radius: 8px;
    border: solid #45b0fc 1px;
    margin-right: 2px;
}

.btn-cv:hover {
    /* background-color: #388ecc; */
    cursor: pointer;
    transform: scale(1.05);
}

.social-container {}

.btn-social {
    background-color: #ffffff;
    font-weight: bold;
    color: #2b2b2b;
    padding: 9px 10px;
    border-radius: 8px;
    border: 1px solid #2b2b2b;
}

.btn-social:hover {
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}


.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #2b2b2b;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #535353;


}

.text-center {
    text-align: center;
}

/* nav styles */
nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-logo {
    width: 100px;

}

nav ul {
    display: flex;
    align-items: center;
}

/* nav h3 span {
    color: #FD6E0A;
} */

.jubair {
    color: #45b0fc;

}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;

}


/* Header  */
.header {
    background-image: url(../images/mjh-shikder-text.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;


}

/* banner styles  */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;


}

.banner-title {
    font-size: 85px;
    font-weight: 700;

}

.banner-profile {
    width: 790px;

}


/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;

}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.about-items {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

.item-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #45b0fc;

}

.item-description {
    font-weight: 400;
    color: #3a3a3a;

}

.item-description:hover {
    transform: scale(1.1);
    font-weight: 650;
}

/* Skill Section start */
.skill-title {
    color: #535353;
}

.skill-description {
    font-weight: 400;
    color: #525252;

}

.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 18%;
    margin-top: 35px;

}

.skill:hover {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);

}


/* Resume section style */
.resume-container {
    display: flex;
    gap: 24px;

}

.resume-column-title {
    font-size: 30px;
    font-weight: 700;
    color: #464646;
    margin-bottom: 20px;
}

.experience-title {
    font-size: 20px;
    color: #474747;
}



.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.experience-description {
    font-weight: 400;
    color: #757575;
}

.resume hr {
    margin: 30px 0px;
}

.resume-dn-btn {
    margin-top: 50px;
}

/* Footer styles */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;

}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    width: 100%;
    border-radius: 9px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}

footer textarea {
    height: 150px;
}

/* Responsive Media Query */
.hide {
    display: none;
}

@media screen and (max-width:576px) {

 
    .header{
        background-image: none;

    }

    .banner-profile{
        width: calc(100% - 40px);
    }

    .skills-container,
    .resume-container,
    footer, .about-items,
    .banner, nav, nav > ul {
        flex-direction: column;
        margin: 0 auto;


    }

    .banner-content{
        width: 90%;
        text-align: center;
        justify-content: center;
    }

    .banner-title{
        text-align: center;
        
    }

    nav > ul{
        gap: 20px;
        padding: 0px;
    }

    .skill,
    .resume-container,
    footer {
        width: 80%;
        margin: 0 auto;

    }

    .resume-container, footer, .about {
        padding: 20px;
    }

    footer{
        width: 90%;
    }

    .footer-column {
        width: 100%;
    }

    footer input[type="text"],
    footer input[type="email"],
    footer textarea {
       width: calc(100% - 40px);
       /* width: 70%; */

    }
}

